@import "../../common/common";

.home {
  color: red;
}

.user-list {
  &:hover {
    cursor: pointer;
    color: $lightTextColor;
    font-size: $largeText;
  }
}

.project-list {
  margin-top: 25px;
  border: 2px solid white;
  border-radius: 15px;
  & ul {
    margin-top: 10px;
  }
}
